@tailwind base;
@tailwind components;
@tailwind utilities;

.esri-popup__header {
    display: flex;
    justify-content: space-between;
}

.esri-popup__header-container.esri-popup__header-container--button.esri-popup--feature-updated.esri-popup--feature-updated-active {
    display: flex;
}

.esri-popup__main-container.esri-widget.esri-popup--shadow.esri-popup--is-collapsible {
    display: flex;
    flex-direction: column;
}

.esri-popup__main-container .esri-widget .esri-popup--shadow .esri-popup--is-collapsible {
    padding-bottom: 10px;
}


body {
    overflow: hidden;
}