@tailwind base;
@tailwind components;
@tailwind utilities;

.esri-popup__header {
    display: flex;
    justify-content: space-between;
}

.esri-popup__header-container.esri-popup__header-container--button.esri-popup--feature-updated.esri-popup--feature-updated-active {
    display: flex;
}

.esri-popup__main-container.esri-widget.esri-popup--shadow.esri-popup--is-collapsible {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.dots-loader {
    display: inline-block;
    animation: blink-animation 1.5s infinite;
  }
  
  @keyframes blink-animation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

body {
    overflow: hidden;
}

